@font-face {
  font-family: Cinematografica;
  src: local("./fonts/Cinematografica-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

html {
  background: url(./images/background.png) no-repeat center center fixed;
  background-size: cover;
  background-color: black;
}